.Intro {
  text-align: center;
  background-color: #644E5B;
  height: 100vh;
background-image: url(Images/bg.png);
background-repeat: no-repeat;
background-size: cover;
font-family: 'Gothic A1', sans-serif;
}
.nav{
  display: flex;
  color: #fff;
  gap: 30px;
  position: fixed;
  top: 45px;
  right: 135px;

}
.navBtn{
  text-decoration: none;
  color: #fff;
  font-family: 'Gothic A1', sans-serif;
  font-size: 14px;
}
h1{
  font-size: 110px;
  color: #fff;
  text-align: left;
  margin: 0 20vw;
  /* width: 600px; */
  padding-top: 15vh;
}
.toggleBtn{
  position: fixed;
  top: 1%;
  right: 1%;
  background-color: transparent;
  color: #91494B;
  font-size: 100px;
  border: none;
  text-shadow: 1.2px 1.2px #71393A;
}

.modalBtn{
  position: -webkit-fixed;
  position: fixed;
  bottom: 20px;
  left: 20px;
  background-color: #314454;
  padding: 10px 15px;
  border-radius: 50%;
  border: none;
  font-weight: 900;
  font-size: 30px;
  color: #91494B ;
}
.subText{
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: #314454;
  opacity: 0.75 !important;
  max-width: 550px;
color: #fff;
font-size: 20px;
line-height: 40px;
padding: 50px 25px 45px 50px ;
margin: 0;
text-align: left;
}